body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
li{
    list-style-type: none;
    display: inline-block;}
/*------css header----------------------- */
.header-index{
    display: flex;
    justify-content: center;

    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding-top: 15px;

    text-align: center;
    border-bottom: 3px solid lightcoral ;

    background-color: #F5E9E9;}
.input-container {
    display: -ms-flexbox;
    display: flex;}
.logo{
    display: inline-block;
    width: 27%;
    height: 90px;}
.search{
    display: inline-block;
    width: 30%;
    text-align: left;
    margin-left: 3%;
    height: 90px;}
.search nav{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;}
.user-log{
    display: flex;
    justify-content:space-around;
    width: 24%;
    margin-left: 45px;
    height: 60px;
    padding: 7px ;
    outline: auto lightcoral;}
.user-log a:hover{
    text-decoration: none;}
#logokidcare{
    width: 100%;
    height: 81px;}
#input-search{
    width: 81%;
    height: 36px;
    border: none;
    border-radius: 9px 0px 0px 9px;
    font-size: 15px;
    padding-left: 9px;
    border: none;
    margin-left: 0px;}
#btn-search{
    width: 9%;
    height: 36px;
    border-radius: 0px 9px 9px 0px;
    border: none;
    margin-right: 0px;
    background-color: lightcoral;}
#btn-search:hover{
    background-color: rgb(247, 172, 75);}
.about-user{
    display: flex;
    width: 100%;}
.about-user i{
    margin: 6px;
    width: 30px;
    height: auto;}
.about-user p{
    margin-left: 21px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;}
.about-user:hover{
    font-weight: bolder;
    font-size: larger;
    color: rgb(240, 89, 89);}
#icon{
    font-size: 36px;
    height: 36px;

    color: lightcoral;
    border-radius: 6px;}
p.name-icon{
    margin: auto;}
    p.name-icon-1{
        margin: auto;
        margin-left: 3px;
    }
    
    p.name-icon-2{
        margin: auto;
        margin-left: 4.5px;
    }
    
    .nav{
        width: 90%;
        display: flex;
        justify-content: center;
        border: 1px solid;
        border-radius: 9px;
        font-size: medium;
        color: lightcoral;
    
        margin-top: 12px;
    }
    
    .nav a{
        text-decoration: none;
    }
    
    .nav a:hover{
        color: lightcoral;
        text-decoration: none;
    }
    
    .nav div{
        margin: auto;
    }
/*------------------------------------- */

/*------css footer----------------------- */
footer{
    padding-bottom: 15px;
    width: 100%;
    height: 27%;
    margin: auto;
    background-color:paleturquoise;
    margin-top: 10px;
    text-align: center;}
.header-footer{
    display: inline-table;
    text-align: center;}
.dk{
    display: -ms-flexbox;
    display: flex;}  
.hder-foot{
    display: inline-table;
    text-align: left;
    margin-left: 36px;
    line-height: 1.8;}
#divEnd{
    margin-left: 126px;}
#divStart{
    margin-left: 0;}
a{
    text-decoration: none;
    color: rgb(71, 71, 71);}
a:hover{
    color:rgb(39, 39, 39);
    text-decoration: underline;}
#title-eml{
    margin: 0px;
    padding: 0px;
    margin-bottom: 12px;}
#int-eml{
    width: 240px;
    height: 36px;
    border: none;
    border-radius: 9px 0px 0px 9px;
    font-size: 18px;

    padding: 0px;}
#btn-eml{
    height: 36px;
    background-color: lightcoral;
    color: brown;
    font-weight:600;
    border: none;
    border-radius: 0px 9px 9px 0px;}
#btn-eml:hover{
    background-color: rgb(247, 172, 75);}
#ic-face{
    font-size: 30px;
    color: blue;
    vertical-align: middle;}
#ic-yout{
    font-size: 30px;
    color: red;
    vertical-align: middle;}
#ic-tik{
    font-size: 27px;
    color:black;
    vertical-align: middle;}
#ic-ins{
    font-size: 27px;
    color:rgb(93, 156, 56);

    vertical-align: middle;}
.dv{
    font-weight: 300;}

/*------------*/
.about-us{
    display: block;
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 9px;
    border-radius: 12px;
    
    background-image: linear-gradient(to bottom right, rgb(255, 213, 213), rgb(215, 255, 255));

}

.about-us p, .about-us h3{
    text-align: left;
    width: 90%;
    margin: auto;
}

#address{
    border: 3px solid lightcoral;
    border-radius: 6px;
    width: 450px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-us table{
    width: 75%;
    margin: auto;
    border: 1px solid salmon;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.mean-logo{
    margin-bottom: 36px;
}

.about-us table h3{
    text-align: center;
}

.tb{
    width: 90%;
    margin: auto;
    margin-bottom: 6px;
    border: 1px solid salmon;
    border-radius: 6px;

    text-align: left;
}

.tb2 th, .tb2 td{
    border: 1px solid salmon;
    border-radius: 6px;
    background-color: rgb(255, 235, 239);
}

.tb2 th{
    background-image: linear-gradient(to bottom right, rgb(255, 213, 213), rgb(215, 255, 255));
}

.tb2 td{
    text-align: left;
}

.about-us p{
    text-align: justify;
    text-align-last:justify;
}

